* {
    margin: 0;
    padding: 0;
}

.navigation {
    : 100%;
}

.nav-info {
    width: 620px;
    margin: 31.5px auto;
}

.nav-list {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
}

.nav-list li a {
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-right: 72px;
}

.container {
    font-family: 'Montserrat';
    text-align: center;
}

.img {
    height: 789px;
    width: 100%;
    display: block;
    background-image: url(./img/telephone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 38px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    padding: 0 67px;
}

.btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    width: 106px;
    height: 16px;
    margin: 66px auto;
    display: flex;
    padding: 18px 43px;
    text-decoration: none;
}

.copy-info {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 16px 105px 29px 0;
}

.btn-theme {
    padding: 17px;
    border-radius: 4px;
    border: none;
    background-color: greenyellow;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.background-theme {
    background-color: aquamarine;
}